<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "EventCast" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "EventCast" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <!--  <%= render 'layouts/navigation' %> -->
  <p align="center"><b><font size="5"><image src="../images/logo_j.jpg">
	EventCast</font></b>
	<br>
    <font size="2">Post your Meetup to the World</font>
	</p>

    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
